# PyInstaller artefactos
/dist/
/build/
/*.zip
/*.tar.gz
/*.egg-info/

# Cachés de Python
__pycache__/
*.pyc

# Entornos virtuales
.venv/
.venv_build/
.venv_*/
.venv-*/
.venv*
.venv*/
/venv/
venv/
venv*/

# Salidas locales
/out/
out/
